In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df_temp = pd.read_csv('Project_Management_Data.csv')
df_temp.head()

,DepartmentOrOffice,ProjectOrRequestType,ProjectTitle,ProjectComponents,ProjectDetails_AssignedTo,Date and Time
0,Executive,Other,Strategic Alliance Book,"Writing, Editing",Erin Babbo,10/24/2019 11:44:00 PM
1,Council,Video,Budget Video Script,Writing,Erin Babbo,10/24/2019 11:41:00 PM
2,Human Services,Other,Budget blog,"Community Engagement, Editing",Kari Moore,10/24/2019 11:31:00 PM
3,Council,Video,Email Correspondence to schedule Connie Videos,Writing,Erin Babbo,10/24/2019 09:51:00 PM
4,Council,Media Relations,Council Budget Schedule News Release,"Writing, Website, Media Relations",Erin Babbo,10/24/2019 09:35:00 PM

In [3]:
df = df_temp[['ProjectTitle']].rename( columns = {'ProjectTitle':'name'}); df

                                                name
0                            Strategic Alliance Book
1                                Budget Video Script
2                                        Budget blog
3     Email Correspondence to schedule Connie Videos
4               Council Budget Schedule News Release
...                                              ...
2156                     Boards and Commissions Blog
2157                       Drainage District, KING 5
2158       Release on Human Services Special Meeting
2159                       Release on District 2 Mtg
2160                     WA Teamsters email template

[2161 rows x 1 columns]

In [4]:
def divisible_random(a,b,n):
    if b-a < n:
      raise Exception('{} is too big'.format(n))
    result = random.randint(a, b)
    while result % n != 0:
      result = random.randint(a, b)
    return result
# get a random int in the range 2 - 12, the number is divisible by 3
print(divisible_random(2,12,3))

12

In [5]:
df['teamSize'] = np.random.randint(2,26,size=len(df))
df['budget'] = [divisible_random(10000,1000000,1000) for i in range(len(df))]
df['workload'] = np.random.choice(['light', 'manageable', 'heavy'], size=len(df))
df['importance'] = np.random.randint(1,11,size=len(df))
df['completionTime'] = [divisible_random(5,100,5) for i in range(len(df))]
df.head()

,name,teamSize,budget,workload,importance,completionTime
0,Strategic Alliance Book,14,742000,manageable,1,60
1,Budget Video Script,17,72000,heavy,5,45
2,Budget blog,21,889000,light,6,80
3,Email Correspondence to schedule Connie Videos,21,488000,heavy,1,70
4,Council Budget Schedule News Release,23,653000,manageable,6,10

In [6]:
df.to_csv("PMAppDummydata.csv", index=False)